{% macro dashboard_card(title) -%}
<div class="card mt-3">
    <div class="card-header info-color">
        <h5 class="card-title text-white">{{title}}</h5>
    </div>
    <div class="card-body">
        {{caller()}}
    </div>
</div>
{%- endmacro %}


{% macro labourer_spare_parts_table() -%}
{% call dashboard_card('Spare Parts') %}
<div class="table-responsive">
    <table class="table text-center">
        <thead class="bg-white">
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>

            {% for i in range(5)%}
            <tr>
                <!--yellow darken-3-->
                <th scope="row">{{i + 1}}</th>
                <td>A/C Machine</td>
                <td>{{((-(-1)**i*((3*i)**2)+5)|abs)%19}}</td>
                <td>{{ i%19 + 2000 }}/{{ i%12 }}/{{ i%30 }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endcall %}
{%- endmacro %}

<!-- Dashboard root tools -->
{% macro pill(name, id_postfix, selected) -%}
<li class="nav-item">
    <a class="nav-link {{['', 'active'][selected]}}" id="pills-{{id_postfix}}-tab" data-toggle="pill" href="#pills-{{id_postfix}}"
        role="tab" aria-controls="pills-{{id_postfix}}" aria-selected="selected|bool">{{name}}</a>
</li>
{%- endmacro %}


<!-- Tools -->

{% macro input_box(name, id_postfix) -%}
<div class="form-group">
    <input type="text" class="form-control" id="{{name}}-{{id_postfix}}" name="{{name}}"></input>
</div>
{%- endmacro %}


{% macro text_area(name, rows) -%}
<div class="form-group">
    <textarea class="form-control" name="{{name}}" rows="{{rows}}"></textarea>
</div>
{%- endmacro %}


{% macro file_input(name, id_postfix) -%}
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="{{name}}-label-{{id_postfix}}">Upload</span>
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="{{name}}-{{id_postfix}}" aria-describedby="attach-{{name}}-label"
            accept="image/*" capture="camera">
        <label class="custom-file-label" for="{{name}}-{{id_postfix}}" id="{{name}}-text-{{id_postfix}}">Attach Photo</label>
    </div>
</div>
{%- endmacro %}


{% macro radio(name, id_postfix, value, text) -%}
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="{{name}}-{{value}}-{{id_postfix}}" value="{{value}}" name="status"
        checked>
    <label class="custom-control-label" for="{{name}}-{{value}}-{{id_postfix}}">{{text}}</label>
</div>
{%- endmacro %}


{% macro save_button() -%}
<div class="row pt-4">
    <div class="col-12 text-right">
        <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-save"></i>&nbsp;Save</i></button>
    </div>
</div>
{%- endmacro %}