{% set activity_ids = [0, 1, 2, 3, 4, 5] %}

{% set activities = ['Replace Fan Belts',
'Clean Filters', 'Replace Oil Filter', 'Clean Cooling Tower',
'Replace Bulb', 'Daily Maintenance'] %}

{% set activity_desc = ['AHU1',
'Package type 001', 'Gen set 3', 'Chiller 2',
'5/A/F11', 'AHU1'] %}

{% set activity_type = ['Corrective',
'Preventive', 'Preventive', 'Preventive',
'Corrective', 'Preventive'] %}


{% set technitians = ['Mr. Amal Senewirathne', 'Mr. Senarath Hewawitharana',
'Mr. Sarath Hemal', 'Mr. Bimal Karunathilaka'] %}


<form action="manager-dashboard.html" method="get">
    <h4>
        All Queued Activities.
    </h4>

    <hr>

    <div class="row">
        <div class="col-12">

            <!-- Activities Table -->
            {% call macro.dashboard_card('Activity Table') %}
            <div class="table-responsive">
                <table class="table text-center">
                    <thead class="bg-white">
                        <tr>
                            <th scope="col">Activity ID#</th>
                            <th scope="col">Activity</th>
                            <th scope="col">Activity Desciption</th>
                            <th scope="col">Activity Type</th>
                            <th scope="col">Technician Selection</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in range(activity_ids|length)%}
                        <tr>
                            <td>{{activity_ids[i]}}</td>
                            <td>{{activities[i]}}</td>
                            <td>{{activity_desc[i]}}</td>
                            <td>{{activity_type[i]}}</td>
                            <td>
                                <!-- Subject -->
                                <select class="browser-default custom-select" name="tech-{{activity_ids[i]}}">
                                    <option value="-1" selected>Unselected</option>
                                    {% for j in range(technitians|length)%}
                                    <option value="{{j}}">{{technitians[j]}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            {% endcall %}

        </div>
    </div>

    <hr />

    {{ macro.save_button() }}
</form>