<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Scan for QR Code</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <form action="checklist.html" class="pt-3" method="get">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white" id="inputGroupFileAddon">Upload</span>
                            </div>
                            <div class="custom-file">

                                <input name="qr-file" type="file" class="custom-file-input" id="inputGroupFile"
                                    aria-describedby="inputGroupFileAddon" accept="image/*" capture="camera">
                                <label class="custom-file-label" id="file-label" for="inputGroupFile">Choose file</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Detected QR code</div>
                            </div>
                            <input type="text" name="qr" id="cam-qr-result" class="form-control bg-white" disabled>
                        </div>
                    </div>

                    <hr>

                    <div class="text-right">
                        <button class="btn btn-warning" id="qr-submit" disabled><i class="fas fa-check-circle"></i>&nbsp;Submit</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#inputGroupFile").on("change", function (v) {
            $("#file-label").text(this.files[0].name);
        })
    </script>

<script type="module" src="js/qr-scanner-main.js"></script>