<div class="sidenav text-white px-2 text-center">
    <div class="py-3">
        <img src="https://ui-avatars.com/api/?name=John+Doe&size=96" class="img rounded-circle">
    </div>
    <p>
        You are logged in as John Doe
        <br />
        <br />
        Press the Logout button to sign out of this site.
    </p>

    <form action="index.html" method="get">
        <button class="btn btn-warning" type="submit"><i class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</i></button>
    </form>


</div>