#sign-in-card,
#qrscan-card {
  width: 400px !important;
  margin: auto auto;
}

body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

/*
-----------------------------------------------
Sidebar
-----------------------------------------------
*/

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  margin-top: 0;
  background: #512DA8;

}


/* Style page content */
.main {
  margin-left: 20%;
  padding: 0 20px 20px;
  width: 80%;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  .sidenav {
    position: relative;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    height: 30%;
    bottom: 0;
    overflow-x: hidden;
  }

  #searchNowButton {
    display: inline-block;
  }

  .main {
    width: 100%;
    margin: 0;
  }
}

/*
-----------------------------------------------
FAB
-----------------------------------------------
*/

.kc_fab_main_btn {
  z-index: 2;
  position: fixed;
  right: 20px;
  bottom: 60px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #F44336;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 54px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2), 0 3px 9px rgba(0, 0, 0, 0.5);
  transition: .3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
  z-index: 1002;
}

.kc_fab_main_btn:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: rotate(360deg);
}

@media screen and (max-width: 900px) {
  .kc_fab_main_btn {
    display: block;
  }
}

/*
-----------------------------------------------
QR READER
-----------------------------------------------
*/

#camera-card {
  margin: auto auto;
  border: none;
}

/*
-----------------------------------------------
CHECKLIST
-----------------------------------------------
*/

#checklist-card>div.checked {
  font-weight: 500;
}

#checklist-card>div {
  font-weight: 400;
}