#sign-in-card,
#qrscan-card {
  width: 400px !important;
  margin: auto auto;
}

body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

/*
-----------------------------------------------
Sidebar
-----------------------------------------------
*/

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  margin-top: 0;

}


/* Style page content */
.main {
  margin-left: 20%;
  padding: 0 20px 20px;
  width: 80%;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  .sidenav {
    position: relative;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
    width: 100%;
    height: 30%;
    bottom: 0;
    overflow-x: hidden;
  }

  #searchNowButton {
    display: inline-block;
  }

  .main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/*
-----------------------------------------------
QR Read Button and Screen
-----------------------------------------------
*/

.kc_fab_main_btn {
  left: 20%;
  width: 80%;
  height: 15vh;
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 54px;
  transition: .3s;
}

@media screen and (max-width: 900px) {
  .kc_fab_main_btn {
    left: 0;
    width: 100%;
  }
}


.kc_qr_page_screen {
  left: 20%;
  width: 80%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  color: #FFF;
  transition: .3s;
  display: none;
}

@media screen and (max-width: 900px) {
  .kc_qr_page_screen {
    left: 0;
    width: 100%;
  }
}

/*
-----------------------------------------------
QR READER
-----------------------------------------------
*/

#camera-card {
  margin: auto auto;
  border: none;
}
