#sign-in-card{
    max-width: 300px !important;
    margin: auto auto;
}

body{
    background-image: url("../assets/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

section{
    height: 100vh;
}