<!DOCTYPE html>
<html lang="en">
{% include 'header.htm' %}

<!-- Body -->

<body>
    <section class="d-flex p-3">

        <form class="card align-self-center z-depth-2" id="sign-in-card" action="labourer-schedule.html" method="get">

            <!-- Card Header -->
            <div class="card-header bg-dark">
                <h3 class="card-title text-white my-2 text-center">Sign in</h3>

                <div class="text-white text-center">
                    Asset Manager
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body">

                {% if (false) %}
                <div class="alert alert-danger" role="alert">
                    Wrong login credentials. Incorrect <b>username</b> or <b>password</b>.
                </div>
                {% else %}
                <div class="alert alert-info" role="alert">
                    Enter your <b>username</b> and <b>password</b> to login into your account.
                </div>
                {% endif %}

                <div class="md-form needs-validation" id="form">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" class="form-control" id="signin-username" name="username">
                    <label for="signin-username">Username</label>
                    <div class="invalid-feedback">
                        Username cannot be empty.
                    </div>
                </div>

                <div class="md-form needs-validation">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" class="form-control" id="signin-password" name="password">
                    <label for="signin-password">Password</label>
                    <div class="invalid-feedback">
                        Password cannot be empty.
                    </div>
                </div>

            </div>

            <!-- Card Footer -->
            <div class="card-footer text-right bg-dark">
                <button class="btn btn-white text-center" type="submit"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign In
                    - Labourer</i></button>
                <br />
                <button class="btn btn-link btn-sm text-center" onclick="window.location = 'manager-dashboard.html'"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign In - Manager (Temp)</i></button>
            </div>
        </form>
    </section>

    <!-- Scripts -->
    {% include('js-loader.htm') %}

    <script>
        'use-strict';
        $("form").submit(function (event) {
            var invalid = false;

            var form = $("#form");
            var username = $("#signin-username");
            var password = $("#signin-password");

            if (username.val() == "") {
                username.addClass('is-invalid');
                invalid = true;
            }
            if (password.val() == "") {
                password.addClass('is-invalid');
                invalid = true;
            }

            if (invalid) {
                event.preventDefault();
                event.stopPropagation();
            }
        });
    </script>

</body>

</html>