{%set activity_id = [0, 1, 2]%}

{%set activity_item = ['', '', '']%}
{%set activity_item = ['Replace fan belts', 'Clean filters', 'Replace oil filter']%}
{%set activity_desc = ['AHU1', 'Package type 001', 'Gen set 3'] %}
{%set activity_type = ['Corrective', 'Preventive', 'Preventive'] %}


<!DOCTYPE html>
<html lang="en">
{% include 'header.htm' %}

<body>
    {% include 'sidenav.htm' %}

    <!-- Page Content -->
    <div class="container-fluid main body-content pt-lg-4 pb-5">
        <div class="white content p-4">
            <div>
                <h1>Schedule (Daily)</h1>
                <hr>
                <p>
                    These are your schedule for today.
                    <br />
                    Do these tasks and scan QR to confirm.
                </p>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="thead-dark p-0">
                            <tr>
                                <th scope="col">ID#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in range(activity_id|length)%}
                            <tr>
                                <th scope="row">{{activity_id[i]}}</th>
                                <td>{{activity_item[i]}}</td>
                                <td>{{activity_desc[i]}}</td>
                                <td>{{activity_type[i]}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function qrCodeScanned(result) {
            window.location = "labourer-dashboard.html?qr=" + result.code;
        }
    </script>

    <button type="button" id="qr-button" class="kc_fab_main_btn light-blue darken-4"><i class="fa fa-qrcode"></i></button>

    {% include('js-loader.htm') %}
    {% include('qrscanner.htm') %}

    <script>
        $(document).ready(function () {
            $('table').floatThead();
        });
    </script>
</body>

</html>