<!DOCTYPE html>
<html lang="en">
{% include 'header.htm' %}

<body>
    {% include 'sidenav.htm' %}

    <!-- Page Content -->
    <div class="container-fluid main body-content pt-lg-4 pb-5">
        <div class="bg-light content p-4">
            <div>
                <h1>Schedule (Daily)</h1>
                <hr>
                <p>
                    These are your schedule for today.
                    <br />
                    Do these tasks and scan QR to confirm.
                </p>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="thead-dark p-0">
                            <tr>
                                <th scope="col">ID#</th>
                                <th scope="col">Item</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in range(100)%}
                            {% set status = (((2**i*213.1312423)%1)*2)|int %}
                            <tr class="{{['blue-grey darken-2 text-white', ''][not status]}}">
                                <!--yellow darken-3-->
                                <th scope="row">{{i + 1}}</th>
                                <td>A/C Machine</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                                <td>{{ ["Finished", "In Progress"][status] }}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include('js-loader.htm') %}

    <button type="button" id="qr-button" class="kc_fab_main_btn  light-blue darken-4"><i class="fa fa-qrcode"></i></button>

    <div id="qr-screen" class="kc_qr_page_screen  indigo accent-4 jumbotron text-center">
        <p style="margin-top:30vh;">
            This is QR Code Scanner Screen.
            Press OK to be redirected to a sample page.
        </p>
        <br />
        <button class="btn btn-warning" onclick="window.location = 'checklist.html'">OK</button>
    </div>


    <script>
        $(document).ready(function () {
            $('table').floatThead();
        });

        $('#qr-button').click(function () {
            $('table').css('display', 'none');
            $("#qr-screen").css('display', 'block');
        })
    </script>
</body>

</html>