<!DOCTYPE html>
<html lang="en">
{% include 'header.htm' %}

<body>
    {% include 'sidenav.htm' %}

    <!-- Page Content -->
    <div class="container-fluid main body-content pt-4 pb-5">
        <div class="bg-light content p-4">
            <div>
                <h1>Schedule (Daily)</h1>
                <hr>
                <p>
                    These are your schedule for today.
                    <br />
                    Do these tasks and scan QR to confirm.
                </p>

                <table class="table text-center table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Location</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in range(100)%}
                        <tr>
                            <th scope="row">{{i + 1}}</th>
                            <td>A/C Machine</td>
                            <td>{{(i**2 + 4*i + 5)%(i*i + 1)}} Floor - {{i*i}} Stall</td>
                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include('js-loader.htm') %}

    <button type="button" data-toggle="tooltip" data-placement="left" title="Scan QR Code" class="btn btn-primary kc_fab_main_btn"
        onclick="$('#myModal').modal('show');$('#inputGroupFile').click();"><i class="fa fa-qrcode"></i></button>


    {% include('qrscanner.htm') %}


    <script>
        $(document).ready(function () {
            $('table').floatThead();
        });
    </script>
</body>

</html>