<!DOCTYPE html>
<html lang="en">
{% include 'header.htm' %}

<body>
    <div class="sidenav text-white px-2 text-center">
        <div class="py-3">
            <img src="https://ui-avatars.com/api/?name=John+Doe&size=96" class="img rounded-circle">
        </div>
        <p>
            You are logged in as John Doe
            <br />
            <br />
            Press the Logout button to sign out of this site.
        </p>

        <form action="login.html" method="get">
            <button class="btn btn-warning" type="submit"><i class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</i></button>
        </form>


    </div>

    <!-- Page Content -->
    <div class="container-fluid main body-content pt-4 pb-5">
        <div class="bg-light content p-4">
            <div id="send_otp">
                <h1>Schedule (Daily)</h1>
                <hr>
                <p>
                    These are your schedule for today.
                    <br />
                    Do these tasks and scan QR to confirm.
                </p>

                <table class="table text-center table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Location</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in range(100)%}
                        <tr>
                            <th scope="row">{{i + 1}}</th>
                            <td>A/C Machine</td>
                            <td>{{(i**2 + 4*i + 5)%(i*i + 1)}} Floor - {{i*i}} Stall</td>
                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button type="button" data-toggle="tooltip" data-placement="left" title="Scan QR Code" class="btn btn-primary kc_fab_main_btn"
        onclick="console.log('FAB Tapped');"><i class="fa fa-qrcode"></i></button>

    {% include('js-loader.htm') %}

    <script>
        $(document).ready(function () {
            $('table').floatThead();
        });
    </script>
</body>

</html>